on early-init
    # cap max CPU frequency to 1.2 GHz as soon as possible
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1200000


on fs
    # set up links to block devices based on boot location
    mkdir /dev/block/by-name 0755 root root

    symlink /dev/block/mmcblk0p1 /dev/block/by-name/boot
    symlink /dev/block/mmcblk0p6 /dev/block/by-name/userdata
    symlink /dev/block/mmcblk0p5 /dev/block/by-name/system
    symlink /dev/block/mmcblk0p8 /dev/block/by-name/internal_sd
    wait /dev/block/by-name/system

    export PATH /sbin
    export LD_LIBRARY_PATH .:/sbin

